# String method in pandas series

## Initializing the libraries and dataset

In [2]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

### Convert lowercase column use str.lower()

In [3]:
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

### Convert lowercase column use apply()

In [5]:
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

### Use apply() & lambda function

In [7]:
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

### Convert pandas column to lowercase use map()

In [8]:
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [9]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [3]:
import numpy as np
import pandas as pd

s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])

s = s.str.strip()

s_lstrip = s.str.lstrip()

s_rstrip = s.str.rstrip()

print("After strip():\n", s)
print("\nAfter lstrip():\n", s_lstrip)
print("\nAfter rstrip():\n", s_rstrip)

After strip():
 0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

After lstrip():
 0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

After rstrip():
 0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [5]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

In [10]:
s.str.contains('Bat|fox')

0     True
1    False
2     True
3      NaN
dtype: object

In [2]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])

s = s.str.replace(r'\d+', 'number')

print(s)

0    1. Bat.
1    2. Dog!\n
2    3. fox?\t
3          NaN
dtype: object

In [12]:
s.str.startswith('2')

0    False
1     True
2    False
3      NaN
dtype: object

In [13]:
s.str.endswith('!')

0    False
1    False
2    False
3      NaN
dtype: object

In [14]:
s.str.cat( sep = ' ')

'1. Bat.   2. Dog!\n 3. fox?\t'

In [15]:
s.str.get(1)

0      .
1      .
2      .
3    NaN
dtype: object

In [16]:
s.str.slice(1,4)

0    . B
1    . D
2    . f
3    NaN
dtype: object

In [17]:
s.str.find('Dog')

0   -1.0
1    3.0
2   -1.0
3    NaN
dtype: float64